<%include partials/adminHeader%>
<!--<span id="hidden-pieValueCompleted"><%=JSON.stringify(requests)%></span>-->
    <style>
        .text-white {
            color: white;
        }
        #flotPie1  {
            height: 100%;
            min-height: 290px;
            width: 95%;
        }
        #flotPie1 td {
            padding: 5px;
        }
        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }
        .chart-container {
            display: table;
            min-width: 85%;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }
        #flotPie1 .legendLabel {
            font-size: 18px !important;
        }

        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    .list-group-item {
        border: none;
    }
    .form-head {
        text-transform: uppercase;
        font-weight: 600;
        margin-right: 5px;
        font-size: 25px;
        color: rgba(0,0,0,0.8);
    }

    .d-flex {
        color: rgb(51,51,51);
        font-size: 16px;
    }
</style>
<span style="display: none;" id="hidden-pieValueNotCompleted"></span>
<div class="animated fadeIn">
  <br/>
  <h3 style="text-transform: uppercase; text-align: center;">Admin Dashboard</h3>
  <br/>
    <!-- Widgets  -->

    <!-- /Widgets -->
    <div class="row" style="text-align: center;">
        <div class="col-lg-3 col-xl-3"></div>
        <div class="col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">Requests</h4>
                    <div class="chart-container ov-h">
                        <div id="flotPie1" class="float-chart"></div>
                    </div>
                </div>
            </div><!-- /.card -->
        </div>
        <div class="col-lg-3 col-xl-3"></div>
        <!-- <div class="col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3">Transactions</h4>
                    <div class="flot-container">
                        <div id="flot-line" class="flot-line"></div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
<% if(requests.length>0){ %>
    <br/>
    <h3 style="text-transform: uppercase;">Pending Requests</h3>
    <br/>
<div class="row text-center">
        <div class="col-lg-12 col-md-12">
            <div class="">
                <div class="card-body">
                    <div class="row text-center">
                        <%for(let i=0;i<requests.length;i++){%>
                        <div class="col-lg-4 ">
                            <div class="card">
                                <div class="card-header">
                                    <div style="padding: 10px; justify-content: space-between;">
                                        <b class="top-pad">
                                            <div class="form-head"><%=requests[i].workflowId.name%></div>
                                        </b>
                                        <!--<div class="circle">712</div>-->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="d-flex">
                                                <div style="padding-left: 10px;">
                                                    <i class="fa fa-calendar"></i> <span style="margin-left: 3px;">Applied by: </span>
                                                </div>
                                                <div class="flex-grow-1 approver">
                                                    <span class="pull-center r-activity">
                                                        <%=requests[i].ownerId.name%>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="d-flex">
                                                <div style="padding-left: 10px;">
                                                    <i class="fa fa-calendar"></i> <span style="margin-left: 3px;">Due date: </span>
                                                </div>
                                                <div class="flex-grow-1 approver">
                                                    <span class="pull-center r-activity" style="color:#3694F7">
                                                        05/08/2020
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                </ul>
                                </div>
                                <div class="row text-center" style="margin-top: 10px; margin-bottom: 20px;">
                                    <div class="col-lg-12"><a
                                        href="/request/view?requestId=<%=requests[i]._id%>"
                                        class="btn btn-primary" style="margin: 10px">View Application</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <% } %>
      <div class = "row text-center">
        <div class="container">
                <div class="card-body">
                  <div class="btn-group text-center">
                    <a id="btnNewForm" class="btn btn-block btn-md" style="background-color:#0da2ff; color:white;" href="/workflow/create">Create a New Form</a>
                    <br>
                    <br>
                    <a id="btnEditWorkflow" class="btn btn-info btn-block btn-md" style="background-color:#0da2ff; color:white;" href="/workflow/edit">Edit an existing workflow of a form</a>
                </div>
              </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

<!--Chartist Chart-->
<script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.time.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.stack.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.resize.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.crosshair.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot.curvedlines@1.1.1/curvedLines.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.flot.tooltip@0.9.0/js/jquery.flot.tooltip.min.js"></script>
<script>
$(document).ready(function($) {
            "use strict";

           //Traffic chart chart-js  End
            // Traffic Chart using chartist End

// Pie chart flotPie1
var piedata = [
                { label: "Approved", data: [[1,10]], color: '#00c292'},
                { label: "Rejected", data: [[1,5]], color: '#F44336'},
                { label: "Pending", data: [[1,2]], color: '#8fc9fb'}
            ];

            $.plot('#flotPie1', piedata, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        innerRadius: 0.55,
                        label: {
                            show: true,
                            radius: 2/3,
                            threshold: 1
                        },
                        stroke: {
                            width: 0
                        }
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: true
                }
            });

        });
        // line2Flot: function(){

        //     // first chart
        //     var chart1Options = {
        //         series: {
        //             lines: {
        //                 show: true
        //             },
        //             points: {
        //                 show: true
        //             }
        //         },
        //         xaxis: {
        //             mode: "time",
        //             timeformat: "%m/%d",
        //             minTickSize: [ 1, "day" ]
        //         },
        //         grid: {
        //             hoverable: true
        //         },
        //         legend: {
        //             show: false
        //         },
        //         grid: {
        //             color: "#fff",
        //             hoverable: true,
        //             borderWidth: 0,
        //             backgroundColor: 'transparent'
        //         },
        //         tooltip: {
        //             show: true,
        //             content: "y: %y"
        //         }
        //     };

        //     var chart1Data = {
        //         label: "chart1",
        //         color: "#007BFF",
        //         data: [
        //         [ 1354521600000, 6322 ],
        //         [ 1354840000000, 6340 ],
        //         [ 1355223600000, 6368 ],
        //         [ 1355306400000, 6374 ],
        //         [ 1355487300000, 6388 ],
        //         [ 1355571900000, 6400 ]
        //     ]
        // };
        //$.plot( $( "#chart1" ), [ chart1Data ], chart1Options );

    function approveClickHandler() {
        console.log("remind Clicked!")
        // this formID should send a reminder to its next approver. Priority 1
    }
    function rejectClickHandler() {
        console.log("withdraw Clicked!")
        // delete this formID from all tables. Priority 3
    }
</script>
<%include partials/footer%>
