<%include partials/adminHeader%>
<span style="display: none;" id="hidden-pieValueCompleted">></span>
<span style="display: none;" id="hidden-pieValueNotCompleted"></span>
<div class="animated fadeIn">
    <!-- Widgets  -->

    <!-- /Widgets -->
    <!--  Traffic  -->
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="card" style = "background-image: -webkit-linear-gradient(90deg,#45b649 0%,#dce35b 100%);">
                <div class="card-body">
                  <h2 class="mb-3">Pending Requests</h2>
                  <div class="row">
                  <div class="col-md-4">
                      <aside class="profile-nav alt">
                          <section class="card">
                              <div class="card-header user-header alt bg-dark">
                                  <div class="media">
                                      <div class="media-body">
                                          <h2 class="text-light display-6">Bonafide Certificate</h2>
                                      </div>
                                  </div>
                              </div>


                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                      <a href="#"><i class="fa fa-user"></i>  Applied By : <span class="badge badge-info pull-center r-activity">Username </a>
                                  </li>
                                  <li class="list-group-item">
                                      <a href="#"> <i class="fa fa-calendar"></i>  Due Date :  <span class="badge badge-warning pull-center r-activity">24/02/2020</span></a>
                                  </li>
                              </ul>
                              <div class="row text-center">
                                      <div class="col-lg-2"></div>
                                      <div class="col-lg-4"><a class="btn remind btn-success m-1" id="remind"
                                              href="/approve:<%=request._id%>">Approve</a></div>
                                      <div class="col-lg-4"><a class="btn withdraw btn-danger m-1" id="withdraw"
                                              href="/reject:<%=reject._id%>">Reject</a></div>
                                      <div class="col-lg-2"></div>
                                    </div>
                          </section>
                      </aside>
                  </div>
                  <div class="col-md-4">
                      <aside class="profile-nav alt">
                          <section class="card">
                              <div class="card-header user-header alt bg-dark">
                                  <div class="media">
                                      <div class="media-body">
                                          <h2 class="text-light display-6">Bonafide Certificate</h2>
                                      </div>
                                  </div>
                              </div>


                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                      <a href="#"><i class="fa fa-user"></i>  Applied By : <span class="badge badge-info pull-center r-activity">Username </a>
                                  </li>
                                  <li class="list-group-item">
                                      <a href="#"> <i class="fa fa-calendar"></i>  Due Date :  <span class="badge badge-warning pull-center r-activity">24/02/2020</span></a>
                                  </li>
                              </ul>
                              <div class="row text-center">
                                      <div class="col-lg-2"></div>
                                      <div class="col-lg-4"><button class="btn remind btn-success m-1" id="remind"
                                              onclick="approveClickHandler()">Approve</button></div>
                                      <div class="col-lg-4"><button class="btn withdraw btn-danger m-1" id="withdraw"
                                              onclick="withdrawClickHandler()">Reject</button></div>
                                      <div class="col-lg-2"></div>
                                    </div>
                          </section>
                      </aside>
                  </div>
           </div>
        </div>
      </div>
    </div>
  </div>
      <div class = "row text-center">
        <div class="col-lg-3">
                <div class="card-body">
                  <div class="btn-group text-center">
                    <a id="btnNewForm" class="btn btn-info btn-block btn-md" href="/workflow/create">Create a New Form</a>
                    <br>
                    <br>
                    <a id="btnEditWorkflow" class="btn btn-info btn-block btn-md" href="/workflow/edit">Edit an existing workflow of a form</a>
                </div>
              </div>
        </div>
    </div>
</div>
<script>
    function approveClickHandler() {
        console.log("remind Clicked!")
        // this formID should send a reminder to its next approver. Priority 1
    }
    function rejectClickHandler() {
        console.log("withdraw Clicked!")
        // delete this formID from all tables. Priority 3
    }
</script>
<%include partials/footer%>
