<%include partials/header%>
<span style="display: none;" id="hidden-pieValueCompleted">></span>
<span style="display: none;" id="hidden-pieValueNotCompleted"></span>
<div class="animated fadeIn">
    <!-- Widgets  -->
    
    <!-- /Widgets -->
    <!--  Traffic  -->
    <div class="row text-center">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Approver Request Details</h4>
                            
                        <span>
                            //Render the html file from web 3 here.
                            <br>
                            <br>
                        </span>
                        <br>
                        <br>
                <form class="form-approval" method="POST" action="/home">
                            
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal1">
                           Approve
                          </button>                                <button type="button" class="btn btn-secondary">Decline</button>

                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                     
                      <h3 class="modal-title" id="ModalLabel1">Success</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Congrats! Your approval has been made. We shall notify the concerned.
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="myButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
       
    </div>
</div>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "http://localhost:8080/home";
    };
</script>
<%include partials/footer%>
