<%include partials/adminHeader%>
<style>
    .list-group-item {
        border: none;
        background-color: yellow !important;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .box-item {
        
    }
</style>
<!-- <span style="display: none;" id="hidden-pieValueCompleted">></span>
<span style="display: none;" id="hidden-pieValueNotCompleted"></span> -->
<div class="animated fadeIn">
    <!-- Widgets  -->
    <center>
        <h2>Create a new Workflow</h2>
        <br />
        <br />
    </center>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-2">Enter form title:</div>
        <div class="col-lg-2">
            <input type="text" class="form-control" name="form-title">
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <!-- Barry -->
            <div class="card border-primary">
                <div class="card-header">
                    Administrators
                </div>
                <div class="box-container card-body" style="min-height: 100px; min-width: 100px;">
                        <% for(let i=0; i<groups.length; i++) {%>
                            <div class="box">
                                <li class="admin list-group-item"><div class="box-item"><%= groups[i].name %></div>
                                </li>
                            </div>
                        <% } %>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="box card border-primary">
                    Drop here!
                </div>
                <div class="container"></div>
            </div>
        </div>
    </div>



    <center>
        <br />
        <button class="btn btn-primary">Upload form</button>
        <br />
        <br />
        <button class="btn btn-primary">Submit</button>
    </center>

</div>
<!-- /Widgets -->
<!--  Traffic  -->

</div>
<script>
    var boxArray = document.getElementsByClassName("box");
    var boxes = Array.prototype.slice.call(boxArray);
    var boxContArray = Array.prototype.slice.call(document.getElementsByClassName('box-container'))
    boxes = boxes.concat(boxContArray);
    dragula({ containers: boxes });

    function remindClickHandler() {
        console.log("remind Clicked!")
        // this formID should send a reminder to its next approver. Priority 1
    }
    function withdrawClickHandler() {
        console.log("withdraw Clicked!")
        // delete this formID from all tables. Priority 3
    }
    function downloadFormClickHandler() {
        console.log("download form clicked!")
        // download this formID with its blanks filled in. Priority 4
    }
    function viewRejectionClickHandler() {
        console.log("View Rejection CLicked!")
        // View rejection string of this formID and also get who wrote this rejection. Priority 2
    }
</script>

<%include partials/footer%>