<%include partials/studentHeader%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div style="display: none;" id="workflowData">
    <%= JSON.stringify(workflow) %>
</div>
<script>
    let data = document.getElementById("workflowData").innerHTML;
    data = JSON.parse(data)
    console.log(data)
</script>

<span style="display: none;" id="hidden-pieValueCompleted">></span>
<span style="display: none;" id="hidden-pieValueNotCompleted"></span>
<div class="animated fadeIn">
    <div class="row text-center">
        <div class="col-lg-6">
            <iframe width="100%" srcdoc="
                <html>
                <body>
                Hello, <b>world</b>.
                Hello, <b>world</b>.
                Put html here
                </body></html>">
            </iframe>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div id="form-title">
                    </div>
                </div>
                <div class="card-body card-block">
                    <div class>
                        <div class="form-group">
                            <label class=" form-control-label">Date</label>
                            <input type="date" name="date" class="form-control" id="date">
                        </div>
                        <div class="form-group">
                            <label for="nf-email" class=" form-control-label">Email</label>
                            <input type="email" id="nf-email" name="nf-email" placeholder="Enter Email"
                                class="form-control">
                        </div>
                        <div id="fieldContainer">
                        </div>
                        </br>
                        <div id="designatorContainer">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm" onclick="submitMe()">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        let fieldSize = data.fields.length;
        let fields = [];

        for (let i = 0; i < fieldSize; i++) {
            let childElem = "<label for='" + data.fields[i] + "' class='form-control-label'>" + data.fields[i] + "</label><input type='text' id='" + data.fields[i] + "' name='" + data.fields[i] + "' placeholder='" + data.fields[i] + "' class='form-control'>";
            $(childElem).appendTo("#fieldContainer")
        }

        console.log()

        let designatorsSize = data.approvers.length
        let idx = window.location.host.length + 15 + 2 + window.location.protocol.length
        console.log("workflowId", window.location.href.slice(idx + 1, window.location.href.length))
        let workflowId = window.location.href.slice(idx + 1, window.location.href.length);

        for (let i = 0; i < designatorsSize; i++) {
            let istr = i.toString();

            let chooseDesignatorElem = "<div style='display: flex; justify-content: space-around'><label for='" + data.approvers[i].grp.name.replace(/\s+/, "")  + "' class='form-control-label'>" + data.approvers[i].grp.name.replace(/\s+/, "")  + "</label><select id='" + data.approvers[i].grp.name.replace(/\s+/, "")  + "'>";

            let members = data.approvers[i].grp.members.length;
            for (let j = 0; j < members; j++) {
                let person = "<option class='" + data.approvers[i].grp.members[j]._id + "'value='" + data.approvers[i].grp.members[j].username.replace(/\s+/, "")  + "' id='" + data.approvers[i].grp.members[j].username.replace(/\s+/, "") + "'>" + data.approvers[i].grp.members[j].username.replace(/\s+/, "")  + "</option>";
                chooseDesignatorElem += person;
            }

            chooseDesignatorElem += "</select></div></br>";
            $(chooseDesignatorElem).appendTo("#designatorContainer");
        }

        function submitMe() {

            let approverIds = [];
            let approvedNames = [];
            let approvers;

            for (let i = 0; i < designatorsSize; i++) {
                let myselect = "#" + data.approvers[i].grp.name.replace(/\s+/, "") + " option:selected";
                approvedNames.push($(myselect).text().replace(/\s+/, "") )
                approverIds.push(document.getElementById(approvedNames[i]).className);
            }

            for (let i = 0; i < designatorsSize; i++) {
                if (i === 0) {
                    approvers = [
                        {
                            approverId: approverIds[i],
                            level: i
                        }
                    ]
                }
                else {
                    approvers.push({
                        approverId: approverIds[i],
                        level: i
                    })
                }
            }

            fields.push($("#date")[0].value)
            fields.push($("#nf-email")[0].value)

            for (let i = 0; i < fieldSize; i++) {
                fields.push($("#" + data.fields[i])[0].value)
            }
            console.log(workflowId)
            console.log(approvers)
            console.log(fields)

            let url = (window.location.protocol + "//" + window.location.host + "/request/create");
            $.post(url, {
                workflowId: workflowId,
                approvers: approvers,
                fields: fields

            }, function (data, status) {
                console.log(data, status);
                window.location.href = '/';
            });
        }

    </script>
    <%include partials/footer%>