<%include partials/header%>
<span style="display: none;" id="hidden-pieValueCompleted">></span>
<span style="display: none;" id="hidden-pieValueNotCompleted"></span>
<div class="animated fadeIn">
    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">₹<span class="count"></span></div>
                                <div class="stat-heading">Funds transfered</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="pe-7s-note2"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count"></span></div>
                                <div class="stat-heading">Projects</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="pe-7s-browser"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count"></span></div>
                                <div class="stat-heading">Problems</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count"></span></div>
                                <div class="stat-heading">Users</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Widgets -->
    <!--  Traffic  -->
    <div class="row text-center">
        <div class="col-lg-12">
            <div class="card" style = "background-image: -webkit-linear-gradient(90deg,#45b649 0%,#dce35b 100%);">
                <div class="card-body">
                  <h2 class="mb-3">Pending Requests</h2>
                  <div class="row">
                  <div class="col-md-4">
                      <aside class="profile-nav alt">
                          <section class="card">
                              <div class="card-header user-header alt bg-dark">
                                  <div class="media">
                                      <div class="media-body">
                                          <h2 class="text-light display-6">Bonafide Certificate</h2>
                                      </div>
                                  </div>
                              </div>


                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                      <a href="#"><i class="fa fa-user"></i>  Applied By : <span class="badge badge-info pull-center r-activity"> Subash </a>
                                  </li>
                                  <li class="list-group-item">
                                      <a href="#"> <i class="fa fa-calendar"></i>  Due Date :  <span class="badge badge-warning pull-center r-activity">24/02/2020</span></a>
                                  </li>
                              </ul>

                          </section>
                      </aside>
                  </div>
                  <div class="col-md-4">
                      <aside class="profile-nav alt">
                          <section class="card">
                              <div class="card-header user-header alt bg-dark">
                                  <div class="media">
                                      <div class="media-body">
                                          <h2 class="text-light display-6">Bonafide Certificate</h2>
                                      </div>
                                  </div>
                              </div>


                              <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                      <a href="#"><i class="fa fa-user"></i>  Applied By : <span class="badge badge-info pull-center r-activity"> Subash </a>
                                  </li>
                                  <li class="list-group-item">
                                      <a href="#"> <i class="fa fa-calendar"></i>  Due Date :  <span class="badge badge-warning pull-center r-activity">24/02/2020</span></a>
                                  </li>
                              </ul>

                          </section>
                      </aside>
                  </div>
           </div>
        </div>
      </div>
    </div>
  </div>
      <div class = "row text-center">
        <div class="col-lg-3">
                <div class="card-body">
                  <div class="btn-group text-center">
                    <button id="btnNewForm" class="btn btn-info btn-block btn-md" href="/projects">Create a New Form</button>
                    <br>
                    <br>
                    <button id="btnEditWorkflow" class="btn btn-info btn-block btn-md" href="/problems">Edit an existing workflow</button>
                </div>
              </div>
        </div>
    </div>
</div>
<%include partials/footer%>
