<%include partials/header%>
<span style="display: none;" id="hidden-pieValueCompleted">></span>
<span style="display: none;" id="hidden-pieValueNotCompleted"></span>
<div class="animated fadeIn">
    <!-- /Widgets -->
    <!--  Traffic  -->
    <div class="row text-center">
        <div class="col-lg-3 col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Bonafide</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <div>
                        <span class="badge badge-primary">Primary</span>
                        <span>-></span>
                        <span class="badge badge-success">Primary</span>
                        <span>-></span>
                        <span class="badge badge-danger">Primary</span>
                        <span>-></span>
                        <span class="badge badge-warning">Primary</span>
                        <span>-></span>
                        <span class="badge badge-info">Primary</span>
                        <span>-></span>
                    </div>
                </div>
                <a style="cursor: pointer;">
                    <div class="card-footer">
                        <button type="button" style="font-size: 14px; color: black; cursor: pointer;">View Workflow</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    
</script>
<%include partials/footer%>
