<!--<%approvalRequests.forEach(request =>{%>
<div class="col-md-4">
  <aside class="profile-nav alt">
      <section class="card">
          <div class="card-header user-header alt bg-dark">
              <div class="media">
                  <div class="media-body">
                      <h2 class="text-light display-6"><%=request.workflow.name%></h2>
                  </div>
              </div>
          </div>


          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <a href="#"><i class="fa fa-user"></i>  Applied By : <span class="badge badge-info pull-center r-activity"> Subash </a>
              </li>
              <li class="list-group-item">
                  <a href="#"> <i class="fa fa-calendar"></i>  Due Date :  <span class="badge badge-warning pull-center r-activity">02/08/2020</span></a>
              </li>
          </ul>
          <div class="row text-center">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-4"><a class="btn remind btn-success m-1" id="remind"
                          href="/approve:<%=request._id>">Approve</a></div>
                  <div class="col-lg-4"><a class="btn withdraw btn-danger m-1" id="withdraw"
                          href="/reject:<%=reject._id>">Reject</a></div>
                  <div class="col-lg-2"></div>
                </div>

      </section>
  </aside>
</div>
<%})%>-->
