.status-container {
    margin: 100px auto; 
}
.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 30%;
    float: left;
    font-size: 18px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 60px;
    height: 60px;
    content: counter(step);
    counter-increment: step;
    line-height: 50px;
    border: 4px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d !important;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: #55b776;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}